.doctorListGrid{
    display: grid;
    max-width: 100%;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
}

.doctorCard{
    transition: 0.3s;
    text-align: center;
    height: 470px;
    padding: 1px;
}
.doctorCard:hover{
    transform: scale(1.02)
}

.doctorCard>img{
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.error-doctor{
    color: red;
}

.avatar{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 2px 4px gray;
}