<div class="card mb-4 box-shadow" style="width: 700px;">
    <div class="card-header" style="text-align: center;">
        <h6 class="my-1">Вход</h6>
    </div>
    <div class="card-body">
        <div style="padding: 1rem; width: 60%;">
            <form #loginForm="ngForm" (ngSubmit)=onSubmit()>
                <div class="form-group">
                    <label for="email">Имейл</label>
                    <input
                        type="email" class="form-control mb-3" name="email"
                        placeholder="peter@abv.bg" ngModel #email="ngModel" required="true"
                        [ngClass]="{'is-valid': email.touched && email.valid, 'is-invalid': email.touched && email.invalid}">
                </div>
                <div class="form-group">
                    <label for="password">Парола</label>
                    <input type="password" name="password" class="form-control mb-3"
                     placeholder="Password" ngModel #password="ngModel" required="true"
                     [ngClass]="{'is-valid': password.touched && password.valid, 'is-invalid': password.touched && password.invalid}"
                     >
                </div>
                
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary px-5 mb-3">Вход</button>
            </form>
            <p>Още нямате профил ? <a routerLink="/register" href="/register">Регистрирай се</a> !</p>
        </div>
    </div>
    <div class="card-footer" style="text-align: center;">
        
    </div>
</div>