<div class="card mb-4 box-shadow" >
    <div class="card-header" style="text-align: center;">
        <h6 class="my-1">За Нас</h6>
    </div>
    <div class="card-body">
        <div class="card" style="opacity: 0.9; padding: 1rem; width: 60%; margin-left: 0; height: 100%;">
                <h4 class="card-title">Кауза </h4>
                <p class="card-text" style="font-size: 20px;">
                    Нашата кауза е да предоставим обективна оценка за лекарите в България. Приложението "DocRate" има за
                    цел
                    да предоставя на своите потребители лесно достъпна и изключително добре систематизирана информация
                    на
                    база
                    реални потребителски оценки за медицинските лица в България.
                    Силно се надяваме да сме ви полезни! ❤
                </p>
        </div>
    </div>
    <div class="card-footer" style="text-align: center;">
        <div>
            Имаш въпроси?  <a routerLink="/contacts" > Свържи се с нас! </a>
          </div>
    </div>
</div>