<div *ngIf="!isError; else errorIndicator">
    <div *ngIf="!isLoading; else loadingIndicator" class="card">
        <div class="card-header"><a routerLink="/"><button type="button" class="btn btn-outline-secondary btn-sm"><i
                        class="fa-solid fa-circle-chevron-left"></i> Назад</button></a></div>
        <div class="card-body">
            <div class="content">
                <img src="{{doctor.imageUrl}}" alt="">
                <div class="info">
                    <h5>{{doctor.title}} {{doctor.firstName}} {{doctor.secondName}}</h5>
                    <hr>
                    <p><i class="fa-solid fa-tag"></i>  Специалност: <b>{{doctor.specialityName}}</b></p>
                    <p><i class="fa-solid fa-hashtag"></i> Код специалност: <b>{{doctor.specialityCode}}</b></p>
                    <p><i class="fa-solid fa-house-medical"></i> Работи по здравна каса: <b>{{doctor.nzok ? "Да" : "Не"}}</b></p>
                    <p><i class="fa-solid fa-money-bill-1"></i> Цена на преглед: <b>{{doctor.price}} лв.</b></p>
                    <p><i class="fa-solid fa-location-dot"></i> Адрес: <b>{{doctor.address}}</b></p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

<ng-template #loadingIndicator>
    <app-loading></app-loading>
</ng-template>

<ng-template #errorIndicator>
 <app-resource-error></app-resource-error>
</ng-template>