<div *ngIf="!isError; else errorIndicator">
    <div @fadeIn *ngIf="!isLoading; else loadingIndicator" class="card">
        <div class="card-header"><a routerLink="/"><button type="button" class="btn btn-outline-secondary btn-sm"><i
                        class="fa-solid fa-circle-chevron-left"></i> Назад</button></a></div>
        <div class="card-body">
            <div class="content">
                <img src="{{doctor.imageUrl}}" alt="">
                <div class="info">
                    <h5>{{doctor.title}} {{doctor.firstName}} {{doctor.secondName}}</h5>
                    <hr>
                    <p><i class="fa-solid fa-tag"></i> Специалност: <b>{{doctor.specialityName}}</b></p>
                    <p><i class="fa-solid fa-hashtag"></i> Код специалност: <b>{{doctor.specialityCode}}</b></p>
                    <p><i class="fa-solid fa-house-medical"></i> Работи по здравна каса:
                        <b>{{doctor.nzok ? "Да" : "Не"}}</b></p>
                    <p><i class="fa-solid fa-money-bill-1"></i> Цена на преглед: <b>{{doctor.price}} лв.</b></p>
                    <p><i class="fa-solid fa-location-dot"></i> Адрес: <b>{{doctor.address}}</b></p>
                    <hr>
                    <p @fadeIn><i class="fa-solid fa-thumbs-up"></i> Харесвания: <b>{{ likes }}</b>
                        <button @fadeIn *ngIf="!isOwner && (isLoggedIn$ | async) && !hasLiked" (click)=likeHandle()
                            style="margin-left: 100px" type="button" class="btn btn-outline-secondary"><i
                                class="fa-solid fa-thumbs-up"></i> Харесай</button> </p>
                    <hr>
                    <div *ngIf="isOwner && (isLoggedIn$ | async)">
                        <a routerLink="/edit/{{doctor._id}}"><button type="button" class="btn btn-outline-secondary"><i
                                    class="fa-solid fa-pencil"></i> Редактирай</button></a>
                        <button style="margin-left: 10px;" type="button" (click)=deleteHandle() class="btn btn-outline-danger"><i
                                class="fa-solid fa-trash"></i> Изтрий</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center p-1 pb-0">

            <p *ngIf="!(isLoggedIn$ | async)">
                <a routerLink="/login" href="">Влез</a> или се <a routerLink="/register" href="">Регистрирай</a>, за да
                можеш да четеш и пишеш коментари.
            </p>

            <div *ngIf="(isLoggedIn$ | async)" class="alert p-1">
                <h6 *ngIf="comments.length == 0" class="m-5 text-secondary">Няма коментари.</h6>

                <div *ngIf="comments.length != 0" >
                    <h6>Коментари</h6>
                    <hr>
                    <div *ngFor="let comment of comments" class="alert alert-secondary p-1 mb-2" style="text-align: left;"> 
                        
                        <p class="px-2 py-0 mb-1">
                            <span><b>@{{comment.user.split('@')[0]}}</b>: </span>
                            {{comment.comment.comment}}
                        </p>
                    </div>
                    <hr>
                </div>


                <form #commentForm="ngForm"  (ngSubmit)=onSubmit()>                    
                        <textarea class="form-control mb-3"  ngModel #comment="ngModel" placeholder="Напиши коментар..." name="comment" rows="2" required="true"
                        [ngClass]="{'is-valid': comment.touched && comment.valid, 'is-invalid': comment.touched && comment.invalid}">
                    </textarea>
                      
                    <button class="btn btn-outline-secondary" [disabled]="comment.invalid" type="submit">Добави коментар</button>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingIndicator>
    <app-loading></app-loading>
</ng-template>

<ng-template #errorIndicator>
    <app-resource-error></app-resource-error>
</ng-template>