@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

.main-container {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-card-container {
    width: 900px;
    max-height: 100%;
    flex-basis: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card {
    box-shadow: 3px 3px 5px black;
}
