<div class="card mb-4 box-shadow" >
    <div class="card-header" style="text-align: center;">
        <h6 class="my-1">Контакти</h6>
    </div>
    <div class="card-body">
        <div class="card" style="opacity: 0.9; padding: 1rem; width: 60%; margin-bottom: 1rem">
                <h4 class="card-title">Телефони</h4>
                <p class="card-text" style="font-size: 20px;">
                    +35988 888 8888 | 02/888 888
                </p>
        </div>
        <div class="card" style="opacity: 0.9; padding: 1rem; width: 60%; margin-bottom: 1rem">
            <h4 class="card-title"> Email</h4>
            <p class="card-text" style="font-size: 20px;">
                contact@docrate.bg
            </p>
    </div>
    <div class="card" style="opacity: 0.9; padding: 1rem; width: 60%;">
        <h4 class="card-title">Адрес</h4>
        <p class="card-text" style="font-size: 20px;">
            гр. София, бул. "Цар Борис III" 356 ет. 3 оф. 10 "Докрейт ЕООД"
        </p>
</div>
    </div>
    <div class="card-footer" style="text-align: center;">
        <div>
            Имаш въпроси?  <a routerLink="/about" > Запознай се с нас! </a>
          </div>
    </div>
</div>
