<div class="card" >
    <div class="card-header" style="text-align: center;"><h4>Редактиране на лекар</h4></div>
    <div class="card-body">
        <form #editForm="ngForm" (ngSubmit)=onSubmit()>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="imageUrl">URL към снимка</label>
                    <input
                    [(ngModel)]="doctor.imageUrl"
                     name="imageUrl"
                     type="text"
                     class="form-control"
                     placeholder="https://"
                     required
                     ngModel
                     #imageUrl = "ngModel"
                     [ngClass]="{'is-valid': imageUrl.touched && imageUrl.valid, 'is-invalid': imageUrl.touched && imageUrl.invalid}"
                    >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="title">Титла</label>
                    <select
                    [(ngModel)]="doctor.title"
                     name="title"
                     class="form-control"
                     ngModel
                     #title = "ngModel"
                     [ngClass]="{'is-valid': title.touched && title.valid, 'is-invalid': title.touched && title.invalid}"
                    >
                    <option value="д-р">д-р</option>
                    <option value="Доц.">Доц.</option>
                    <option value="Проф.">Проф.</option>
                    <option value=""> - </option>
                     </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="firstName">Първо име</label>
                    <input
                    [(ngModel)]="doctor.firstName"
                     name="firstName"
                     type="text"
                     class="form-control"
                     placeholder="Рада"
                     required
                     ngModel
                     #firstName = "ngModel"
                     [ngClass]="{'is-valid': firstName.touched && firstName.valid, 'is-invalid': firstName.touched && firstName.invalid}"
                    >
                </div>
                <div class="col-md-4 mb-3">
                    <label for="secondName">Второ име</label>
                    <input
                    [(ngModel)]="doctor.secondName"
                     name="secondName"
                     type="text"
                     class="form-control"
                     placeholder="Маркова"
                     required
                     ngModel
                     #secondName = "ngModel"
                     [ngClass]="{'is-valid': secondName.touched && secondName.valid, 'is-invalid': secondName.touched && secondName.invalid}"
                    >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="speciality">Специалност</label>
                    <select
                    [(ngModel)]="doctor.speciality"
                     required
                     name="speciality"
                     class="form-control"
                     ngModel
                     #speciality = "ngModel"
                     [ngClass]="{'is-valid': speciality.touched && speciality.valid, 'is-invalid': speciality.touched && speciality.invalid}"
                    >
                    <option value="00 Общопрактикуващ лекар">00 Общопрактикуващ лекар</option>
                    <option value="01 Акушерство и гинекология">01 Акушерство и гинекология</option>
                    <option value="04 Кожни и венерически болести">04 Кожни и венерически болести</option>
                    <option value="08 Кардиология">08 Кардиология</option>
                    <option value="11 Нефрология">11 Нефрология</option>
                    <option value="14 Ушно-носно-гърлени болести">14 Ушно-носно-гърлени болести</option>
                    <option value="15 Очни болести">15 Очни болести</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="price">Цена на прегледа</label>
                    <input
                    [(ngModel)]="doctor.price"
                     name="price"
                     type="number"
                     class="form-control"
                     placeholder="40лв."
                     required
                     ngModel
                     #price = "ngModel"
                     [ngClass]="{'is-valid': price.touched && price.valid, 'is-invalid': price.touched && price.invalid}"
                    >
                </div>
                <div class="pt-4">
                    <label class="form-check-label" style="margin-left: 40px;" for="nzok">Здравна каса</label>
                    <input type="checkbox" [(ngModel)]="doctor.nzok" style="margin-left: 20px;" ngModel #nzok = "ngModel" name="nzok" class="form-check-input" [ngClass]="{'is-valid': nzok.touched && nzok.valid, 'is-invalid': nzok.touched && nzok.invalid}">
                    
                  </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="address">Адрес на практиката</label>
                    <input
                    [(ngModel)]="doctor.address"
                     name="address"
                     type="text"
                     class="form-control"
                     placeholder="Бул. България 51А, гр.София"
                     required
                     ngModel
                     #address = "ngModel"
                     [ngClass]="{'is-valid': address.touched && address.valid, 'is-invalid': address.touched && address.invalid}"
                    >
                </div>
            </div>
            <div style="width: 100%;">
            <button [disabled]="editForm.invalid"  class="btn btn-primary" style="position: relative; left:50%; transform: translateX(-50%)"  type="submit">Редактирай</button>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <a routerLink="/doctor/{{id}}"><button type="button" class="btn btn-outline-secondary btn-sm"><i
            class="fa-solid fa-circle-chevron-left"></i> Назад</button></a>
    </div>
</div>