<div class="card" >
    <div class="card-header" style="text-align: center;"><h4>Създаване на лекар</h4></div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">Пък към снимка</label>
                    <input type="text" class="form-control" id="validationServer01"placeholder="https://" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">Титла</label>
                    <input type="text" class="form-control" id="validationServer01" placeholder="доц" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServer02">Първо име</label>
                    <input type="text" class="form-control" id="validationServer02" placeholder="Рада" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServer02">Второ име</label>
                    <input type="text" class="form-control" id="validationServer02" placeholder="Маркова" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">Специалност</label>
                    <input type="text" class="form-control" id="validationServer01" placeholder="00 Общо практикуващ лекар" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="validationServer01">Цена на прегледа</label>
                    <input type="text" class="form-control" id="validationServer01" placeholder="бул. България 51" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">Специалност</label>
                    <input type="text" class="form-control" id="validationServer01" placeholder="00 Общо практикуващ лекар" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>

    </div>
    <div class="card-footer">
        <a routerLink="/"><button type="button" class="btn btn-outline-secondary btn-sm"><i
            class="fa-solid fa-circle-chevron-left"></i> Назад</button></a>
    </div>
</div>