<nav class="navbar navbar-expand-lg navbar-light bg-light header-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img id="logo-header" src="/assets/logo.png" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" href="#">Начало</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" href="#">За Нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts" href="#">Контакти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create" href="#">Добави лекар</a>
          </li>
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/login"  href="#">Вход</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/register" href="#">Регистрация</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#">Изход</a>
                </li>
              </ul>
        </span>
      </div>
    </div>
  </nav>
