.doctorListGrid{
    margin:auto;
    display: grid;
    max-width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.doctorCard{
    transition: 0.3s;
    text-align: center;
    height: 470px;
    padding: 1px;
}
.doctorCard:hover{
    transform: scale(1.02)
}



.doctorCard>img{
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.error-doctor{
    color: red;
}